{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row pt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-center pb-3">Login</h2>
            {% if error %}
                {{ error }}
                <br><br>
            {% endif %}
            <form id="login" method="POST" enctype="multipart/form-data" action="{% url 'login' %}?next={{ request.path }}">
                {% csrf_token %}
                <div class="form-group">
                    <input name="username" type="text" class="form-control" id="login_username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" id="login_password" placeholder="Password">
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <div class="mt-3 mb-3 form-group">
                    <input type="submit" id="submit_login" name="login-btn" class="btn btn-block mybutton mb-2" value="Login">
                </div>
            </form>

            <div id="social" class="text-center">
                <div class="mt-3 d-none d-sm-none d-lg-block">
                    <h4 class="pt-3">or</h4>
                    <hr style="border-top-color: #001d3a; width: 80%">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <img src="{% static 'images/google.png' %}" width="7%" alt="Sign in With Google">
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <img class="ml-3" src="{% static 'images/twitter-sign.png' %}" width=7%" alt="Sign in With Google">
                    </a>
                </div>
                <div class="mt-3 d-block d-lg-none">
                    <h4 class="text-center pt-3">or</h4>
                    <hr style="border-top-color: #001d3a; width: 80%">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <img src="{% static 'images/google.png' %}" width="13%" alt="Sign in With Google">
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <img class="ml-3" src="{% static 'images/twitter-sign.png' %}" width="13%" alt="Sign in With Google">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
