{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 mt-5">
            <form method="POST" enctype="multipart/form-data" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="text-center pb-3" >Signup</h2>
                    {% if error %}
                        {{ error }}
                        <br><br>
                    {% endif %}
                    <input name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                    <input name="usernames" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="abc@example.com" required>
                </div>
                <div class="form-group">
                    <input name="passwords" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input name="passwords1" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Confirm Password" required>
                </div>
                <div class="mt-3">
                    <input type="submit" name="sign-up-btn" class="btn btn-block mybutton mb-2" value="Signup">
                </div>
            </form>
            <div id="social" class="text-center">
                <div class="mt-3 d-none d-sm-none d-lg-block">
                    <h4 class="pt-3">or</h4>
                    <hr style="border-top-color: #001d3a; width: 80%">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <img src="{% static 'images/google.png' %}" width="7%" alt="Sign in With Google">
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <img class="ml-3" src="{% static 'images/twitter-sign.png' %}" width=7%" alt="Sign in With Google">
                    </a>
                </div>
                <div class="mt-3 d-block d-lg-none">
                    <h4 class="text-center pt-3">or</h4>
                    <hr style="border-top-color: #001d3a; width: 80%">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <img src="{% static 'images/google.png' %}" width="13%" alt="Sign in With Google">
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <img class="ml-3" src="{% static 'images/twitter-sign.png' %}" width="13%" alt="Sign in With Google">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
