<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137229526-1"></script>

    <script>

        window.dataLayer = window.dataLayer || [];

        function gtag(){dataLayer.push(arguments);}

        gtag('js', new Date());

        gtag('config', 'UA-137229526-1');

    </script>
    {% load staticfiles %}

    <meta name="theme-color" content="#001D3A">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/fav.png' %}">

    <title>Bookateria - Find Documents you need for Educational Purposes</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
    <link href="{% static 'stylesheets/style.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/home.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="full-height">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    ariProducta-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'books_view' %}">Books</a>
                    <a class="nav-item nav-link" href="{% url 'notes_view' %}">Lecture Notes</a>
                    <a class="nav-item nav-link" href="{% url 'question_view' %}">Questions</a>
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'add-document' %}">Submit a Document</a>
                        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                        </form>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="section">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand mb-5" href="{% url 'home' %}">
                        <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top .img-fluid mx-auto d-block" style="height: auto; max-width: 75%;" alt="logo">
                    </a>
                </div>
            </nav>
        </header>
        <div style="width: 70%;">
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="searchbar" style="width: 100%;">
                    <input class="search_input" type="text" name="query" placeholder="Search...">
                    <button class="search_icon" type="submit"><img src="{% static 'images/search.png' %}" height="30" alt="search"></button>
                </div>
            </form>
        </div>
        <ul class="nav mt-5 justify-content-center">
            <li class="nav-item">
                <a class="nav-link home-link active" href="{% url 'all-documents' %}" >View All Documents</a>
            </li>

        </ul>

        <footer class="text-muted mt-5">
            <div class="container">
                <p class="text-center"  style="color: #b1bbc4;"><span style="font-weight: bold">&lt;&#8725;&gt;</span> with &#9829; by Jonathan</p>
                <p class="text-center"><a href="https://github.com/JonathanFarinloye/bookateria" target="_blank">
                    <img src="{% static 'images/github.png' %}" height="20" alt="Github-logo"></a> &nbsp;&nbsp;
                    <a href="https://twitter.com/I_jonathan_" target="_blank">
                        <img src="{% static 'images/twitter.png' %}" height="20" alt="twitter"></a></p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </div>

</div>
</body>
</html>
