{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="row">
        <div class="container mt-5 text-center">
            <h2 style="font-weight: 500;">Search Results</h2>
        </div>
    </div>
    {% if books %}
        <ul class="nav mt-5 justify-content-center">
            <li style="width: 70%;">
                <div style="width: 100%;">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="searchbar" style="width: 100%;">
                            <input class="search_input" type="text" name="query" value={{ query }} placeholder="Search...">
                            <button class="search_icon" type="submit"><img src="{% static 'images/search.png' %}" height="30" alt="search"></button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <table class="table table-bordered mt-5">
            <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th class="align-middle" scope="col">Document Title - Author</th>
                <th scope="col" class="text-center align-middle">Uploader</th>
                <th scope="col" class="text-center align-middle">Number of Downloads</th>
            </tr>
            </thead>
            {% for book in books %}
                <tbody>
                <tr>
                    <th scope="row" class="text-center"><img src="{% static 'images/fav.png' %}" width=20></th>
                    <td>
                        <a style="cursor: pointer; color: #001d3a; text-decoration: none;" href="{% url 'detail' book.slug %}">{{ book.title }} - {{ book.author }}</a>
                    </td>
                    <td class="text-center">{{ book.uploader }}</td>
                    <td class="text-center">{{ book.downloads }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                Page {{ books.number }} of {{ books.paginator.num_pages }}
            </ul>
            <ul class="pagination justify-content-center">
                {% if books.has_previous %}
                    <li class="page-item">
                        <a class="link" href="?page=1&query={{ query }}" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="link" href="?page={{ books.previous_page_number }}&query={{ query }}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% if books.previous_page_number|add:-1 != 0 %}
                    <li class="page-item"><a class="link" href="?page={{ books.previous_page_number|add:-1 }}&query={{ query }}">{{ books.previous_page_number|add:-1 }}</a></li>
                    {% endif %}
                    <li class="page-item"><a class="link" href="?page={{ books.previous_page_number }}&query={{ query }}" >{{ books.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item myactive"><a class="link" href="#">{{ books.number }}</a></li>
                {% if books.has_next %}
                    <li class="page-item"><a class="link" href="?page={{ books.next_page_number }}&query={{ query }}">{{ books.next_page_number }}</a></li>
                    {% if books.next_page_number != books.paginator.num_pages %}
                    <li class="page-item"><a class="link" href="?page={{ books.next_page_number|add:1 }}&query={{ query }}">{{ books.next_page_number|add:1 }}</a></li>
                    {% endif %}
                    <li class="page-item">
                        <a class="link" href="?page={{ books.next_page_number }}&query={{ query }}" aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="link" href="?page={{ books.paginator.num_pages }}&query={{ query }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% else %}
        <ul class="nav mt-3 mb-5 justify-content-center">
            <li style="width: 70%;">
                <div style="width: 100%;">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="searchbar" style="width: 100%;">
                            <input class="search_input" type="text" name="query" value={{ query }} placeholder="Search...">
                            <button class="search_icon" type="submit"><img src="{% static 'images/search.png' %}" height="30" alt="search"></button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <div class="container">
            <h5>Book not Found</h5>
            <h5>Let us say you later find it, Kindly add it <strong><a href="{% url 'add-document' %}">here</a></strong></h5>
            <h6>You could also make a request by tweeting at me
                <a href="http://twitter.com/home?status=Document Title: %0D%0ADocument Author: %0D%0AFor bookateria.net @I_jonathan_" target="_blank">right here</a></h6>
        </div>

    {% endif %}
{% endblock %}